@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap');
.starbar[data-v-3600db60] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:  0;
  margin-bottom: 20px;
}
.left-bar[data-v-3600db60] {
  margin: 0;
  height: 2px;
  width: 50px;
  background:  linear-gradient(90deg,rgba(255, 218, 82, 0),rgb(255, 218, 82));
}
.right-bar[data-v-3600db60] {
  margin: 0;
  height: 2px;
  width: 50px;
  background:  linear-gradient(90deg,rgb(255, 218, 82),rgba(255, 218, 82, 0));
}
p[data-v-3600db60] {
  margin: 0 10px;
}

.choose-task-title-form{
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 80%;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, rgb(48,143,242),rgb(127,173,250));
}
.form-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}
.form-title {
  font-size: 1.1rem;
  color: var(--dark-blue);
  text-align: left;
}
.form-subtitle {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(116, 26, 152, 0.225);
  color: white;
}
.subtitle{
    font-weight: bold;
    color: var(--dark-blue);
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: flex-start;
}
.title-input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
  font-size: 1rem;
  width: 100%;
}
.type-select{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}
.selection-style{
    position: relative;
    display: inline-block;
}
.checked-selection {
    position: absolute;
    top: -2px;
    right:-2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-secondary);
}
.not-checked-selection {
    display: none;
}
.type-image {
  width: 115px;
  height: 115px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.type-image-selected{
  width: 115px;
  height: 115px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  border:2px solid var(--color-secondary);
          box-shadow: 0px 0px 20px rgb(255, 255, 255);
}
.type-description {
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: left;
    font-style: italic;
    color: white;
}
.type-name {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 5px;
    color: white;
}
.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
.submit-button {
  width: 100px;
}
.cancel-button {
  width: 100px;
}

.task-title-button[data-v-873cc00f] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  align-self: center;
  border-bottom: 1px solid rgb(127,173,250);
}
.task-title-content[data-v-873cc00f] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-type[data-v-873cc00f] {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.action-icons[data-v-873cc00f]{
display: flex;
gap: 10px;
}
.button-text[data-v-873cc00f] {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.input-edit[data-v-873cc00f] {
  font-size: 1.3rem;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  padding: 4px;
  text-align: left;
  width: 60%;
}
.icon-edit[data-v-873cc00f] {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
.task-title-button[data-v-873cc00f] {
    padding: 30px 10px 30px 10px;
}
.button-text[data-v-873cc00f]{
    font-size: 1rem;
}
}


.task-sidebar[data-v-b7007d43] {
 height: 100%;
  min-width: 360px;
  width: 40%;
  background:linear-gradient(rgb(0, 157, 242),rgb(12, 39, 65) 30%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 1;
  align-items: center;
  overflow-y: hidden;
  overflow: auto;}
h2[data-v-b7007d43] {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--lither-lavender);
  padding: 1rem;
  border-bottom: 1px solid var(--lavender);
}
.add-task-button[data-v-b7007d43] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 1rem;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  width: 80%;
  align-self: center;
}
.icon-plus[data-v-b7007d43] {
  width: 30px;
  height: 30px;
}
.button-text[data-v-b7007d43] {
  margin-left: 10px;
  font-size: 1.5rem;
  color:white
}
@media screen and (max-width: 768px) {
.task-sidebar[data-v-b7007d43]{
    width: 100%;
    height: 100%;
}
}


.choices-box[data-v-b6cd8f4d]{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
      background-color: white;
}
.title-box[data-v-b6cd8f4d]{
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.choices-box-single-view[data-v-b6cd8f4d]{
       position: relative;
    width: 100%;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
      background-color: white;
}
.header-box[data-v-b6cd8f4d]{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
}
.task-name[data-v-b6cd8f4d]{
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    color: var(--dark-blue);
}
.task-image-hidden[data-v-b6cd8f4d]{
  display: none;
}
input[type="checkbox"][data-v-b6cd8f4d] {
  appearance: none; 
  -webkit-appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  border: 2px solid white;
  cursor: pointer;
  position: relative;
}
input[type="checkbox"][data-v-b6cd8f4d]:checked {
  background-color: grey;
  border: 2px solid grey;
}
.selected-overlay[data-v-b6cd8f4d] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.356);
}
.increment-box[data-v-b6cd8f4d] {
  position: absolute;
  left: 30%;
  bottom: 0px;
  width: 40%;
  height: 20%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  align-self: flex-end;
  margin-bottom: 15px;
  justify-content: space-around;
  align-items: center;
}
.icon[data-v-b6cd8f4d]{
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.trash-icon[data-v-b6cd8f4d]{
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: var(--color-error);
  border-radius: 50%;
  padding: 5px;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
.choices-box[data-v-b6cd8f4d]{
      width: 150px;
      height: 150px;
      border-radius: 15px;
      overflow: hidden;
}
.task-name[data-v-b6cd8f4d]{
    font-size: 0.5rem;
}
.task-image[data-v-b6cd8f4d]{
    width: 100px;
    height: 100px;
}
.task-image-single-view[data-v-b6cd8f4d]{
    width: 200px;
    height: 200px;
}
}

.choices-box[data-v-f9461131]{
    position: relative;
    width: 250px;
    height: 250px;
    background-color: rgb(80, 188, 246);
    border-radius: 30px;
    overflow: hidden;
}
.task-name-box[data-v-f9461131]{
    display: flex;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
    align-items:  center;
    margin-top: 10px;
}
.task-name[data-v-f9461131]{
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    color: white;
}
input[type="checkbox"][data-v-f9461131] {
  appearance: none; 
  -webkit-appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  border: 2px solid white;
  cursor: pointer;
  position: relative;
}
input[type="checkbox"][data-v-f9461131]:checked {
  background-color: grey;
  border: 2px solid grey;
}
.selected-overlay[data-v-f9461131] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.increment-box[data-v-f9461131] {
  position: absolute;
  left: 30%;
  bottom: 0px;
  width: 40%;
  height: 20%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  align-self: flex-end;
  margin-bottom: 15px;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
.choices-box[data-v-f9461131]{
      width: 150px;
      height: 150px;
      border-radius: 15px;
}
.task-name[data-v-f9461131]{
    font-size: 0.5rem;
}
.task-image[data-v-f9461131]{
    width: 100px;
    height: 100px;
}
}

.category-box[data-v-06b3ec13]{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 30px;
}
.category-name[data-v-06b3ec13]{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--dark-blue);
}
.angle-down[data-v-06b3ec13]{
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(0, 157, 242);
  transition: transform 0.5s ease;
}
.rotated[data-v-06b3ec13] {
  transform: rotate(180deg);
}
.choices-container[data-v-06b3ec13]{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.back-arrow-box[data-v-06b3ec13]{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.back-arrow[data-v-06b3ec13]{
  width: 30px;
  height: 30px;
  margin: 20px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
}

.list-results[data-v-fc21966a] {
  position: relative;
  background-color: rgb(231, 246, 252);
  width: 70%;
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.list-results-mobile[data-v-fc21966a] {
  position: absolute;
  z-index: 1;
  background-color: rgb(245, 252, 255);
  width: 100%;
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.list-results-title[data-v-fc21966a] {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
.header-option[data-v-fc21966a] {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-top: 20px;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
}
.header-option-mobile[data-v-fc21966a] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  align-self: center;
  margin-bottom: 20px;
}
.option-icon[data-v-fc21966a]{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.icon-left[data-v-fc21966a]{
  border-right: 2px solid var(--color-secondary);
}
.icon-right[data-v-fc21966a]{
  border-left: 2px solid var(--color-secondary);
}
.content-list[data-v-fc21966a] {
 flex: 1;
 min-height: 0;
 display: flex;
 flex-direction: column;
 justify-content: center;
  align-items: center;
}
.yellow-heart[data-v-fc21966a] {
  display: inline-block;
  font-size: 2rem;
  margin-top: 20px;
}
.list-items-container[data-v-fc21966a] {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 0;
  overflow: hidden;
  flex: 1;
}
.list-items[data-v-fc21966a] {
  min-height: 0;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 100%;
  gap: 20px;
  padding-left:30px;
  padding-right: 30px;
  height: 80%;
  overflow-y: auto;
  padding: 20px;
}
.list-items-title-only[data-v-fc21966a]{
  min-height: 0;
  flex: 1;

  padding: 0;
  width: 100%;
  height: 80%;
  overflow-y: auto;
}
.select-item-form[data-v-fc21966a] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 245, 245);
  height: 100%;
  overflow: auto;
}
.select-item-box[data-v-fc21966a]{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.ending-button[data-v-fc21966a]{
  bottom: 20px;
  margin-bottom: 20px;
}
.entry-box[data-v-fc21966a] {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end ;
height: 10%;
min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.entry-box-focus[data-v-fc21966a]{
  box-sizing: border-box;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end ;
height: 10%;
min-height: 40px;
overflow: hidden;
background-color: white;
}
.entry-style[data-v-fc21966a]{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}
.entry-input[data-v-fc21966a]{
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  border:none;
  outline: none;
  text-align: left;
}
.entry-input[data-v-fc21966a]::placeholder{
  color: var(--color-secondary);
  opacity: 0.5;
}
.add-entry-box[data-v-fc21966a]{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 30px;
  background-color: white;
  border: 1px solid var(--light-blue);
  padding: 5px;
  border-radius: 5px;
}
.add-entry[data-v-fc21966a]{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  background-color: var(--color-secondary);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(55, 54, 54, 0.724);
}
.send-entry[data-v-fc21966a]{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--color-secondary);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(55, 54, 54, 0.724);
}
.info[data-v-fc21966a]{
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-secondary);
  width: 100%;
  text-align: left;
  padding-left: 20px;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
.list-results[data-v-fc21966a]{
      width: 100%;
}
.back-arrow[data-v-fc21966a]{
      width: 30px;
      height: 30px;
      margin: 20px;
      cursor: pointer;
}
.back-arrow-box[data-v-fc21966a]{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-start;
      width: 100%;
}
.mobile-star-bar[data-v-fc21966a]{

      margin: 0px;
}
.list-items[data-v-fc21966a]{
      gap:10px;
      border-radius: 15px 15px 0px 0px;
      padding: 0px;
}
.item[data-v-fc21966a]{
      border-radius: 0px;
      border-bottom: 0.5px solid var(--light-blue);
}
.entry-box[data-v-fc21966a]{
      padding: 0px;
}
.select-item-form[data-v-fc21966a]{
        top: 0;
        left: 0;
         z-index: 2;
         margin: 0px;
          height: 100%;
}
}


.task-view[data-v-752cb9d5] {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  height: 100%;
  overflow: hidden;
}
.background-deletion[data-v-752cb9d5] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente pour le pop-up de suppression */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Assure que le pop-up est au-dessus du reste du contenu */
}
.pop-up-delete[data-v-752cb9d5] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.to-delete-name[data-v-752cb9d5]{
  font-weight: bold;
}
.buttons[data-v-752cb9d5] {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;
}
.cancel[data-v-752cb9d5] {
  background-color: var(--color-validation);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
.task-view[data-v-752cb9d5] {
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin-top:0;
    margin-bottom: 0;
    overflow: scroll;
}
}



/* j'importe les fonts depuis google fonts */
/* Définition des variables de police */
/* Ces variables peuvent être utilisées dans les fichiers CSS pour appliquer les polices */
:root{
   /* Fonts de l'application */
   --font-primary: 'Inter', sans-serif;
   --font-secondary: 'Roboto', sans-serif;

   /* Couleurs de l'application */
   --color-primary: rgb(111, 74, 230);
   --color-secondary: rgb(132, 99, 212);
   --color-valid: #4CAF8D;
   --color-error: #e35d6a;
   --background-low-opacity:#c1beef15;
   --pink-color-background: rgba(248, 219, 243, 0.837);
   --light-lavender: rgb(168,160,209);
   --lither-lavender: #F1EAF7;
   --deep-violet: #3E2563;
   --deeper-violet: #2E1A4F;
   --mid-violet: #6F4AA3;
   --light-pink: rgb(197, 170, 218);
   --light-blue: rgb(200,192,214);
   --dark-blue: rgba(27, 52, 97, 1.00);
   --light-beige: rgb(218,205,217);
   --linear-gradient-button: linear-gradient(130deg, rgb(135, 110, 193),80%, rgb(189, 131, 225));
   --golden-gradient-button: linear-gradient(30deg, rgb(172, 78, 235),80%, rgb(255, 223, 70));
   --background-transparent: linear-gradient( rgba(255, 255, 255, 0.073) 50%, rgba(255, 255, 255, 0) 100%);

   /* Taille de police */
   --font-size-small: 1rem; /* 14px */
   --font-size-medium: 1.5rem; /* 16px */
   --font-size-large: 2rem; /* 18px */
   --font-size-xlarge: 3rem; /* 20px */

   /* Taille des éléments */
   --element-size-small: 30px;
   --element-size-medium: 40px;
   --element-size-large: 50px;
   --element-size-xlarge: 60px;

   /* Espacement */
   --spacing-small: 10px; 
   --spacing-medium: 20px;
   --spacing-large: 30px;
   --spacing-xlarge: 50px;

   /* largeur écrans */
   --screen-size-small: 480px;
   --screen-size-medium: 768px;
   --screen-size-large: 1024px;
   --screen-size-xlarge: 1440px;
}
/* je définis les thèmes de couleurs pour l'application */

:root {
  /* Mode sombre (par défaut) */

  --color-background: hsl(0, 0%, 17%);
  --color-text: rgb(132, 99, 212);
  --color-text-BW: #ffffff;
  --color-text-WB: #000000;
  --color-border: #2c2c2c;
  --color-muted: #9ca3af;
  --color-bar:#535151;
  --background-gradient: linear-gradient(rgba(216, 36, 36, 0),rgb(137, 43, 226));
  --color-icon: #ffffff;
  --color-error: #e35d6a;
  --color-validation: #4caf50;
}

[data-theme="light"] {
    /* Mode clair */
  --color-background: #ffffff;
  --color-text: #000000;
  --color-text-BW: #000000;
  --color-text-WB: #ffffff;
  --color-border: #e5e7eb;
  --color-muted: #6b7280;
  --color-bar: #ffffff;
  --background-gradient: linear-gradient(0deg,rgba(137, 43, 226, 0.135),rgba(255, 0, 0, 0));
  --color-icon: #007dff;
  --color-error:#e35d6a;
  --color-validation: #4caf50;  
}*{
    /* je retire les marges et les espacements par défaut */
    margin:0;
    padding:0;
    box-sizing:border-box;

    /*je définis les parametre généraux du texte */
    color: var(--color-text);
    text-align: center;
    text-decoration: none;
    /* retire les puces */
    list-style: none; 

}
body {
    /* je définis la couleur de fond et la couleur du texte */
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-primary);
    justify-content: center;
}
/* style pour les boutons et input */
.primary-button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.primary-button:hover {
  background-color: var(--color-secondary);
}

  /*style grisé pour les seconds boutons  */
.secondary-button {
  background-color: #535151;
  color: white;
  border: 1px solid var(--color-border);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.secondary-button:hover {
  background-color: #9ca3af;
}
.super-action-button{
  background: var(--golden-gradient-button);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 0px 10px rgb(255, 223, 70);
}
.super-action-button:hover {
  box-shadow: 0 0px 30px rgb(255, 223, 70);
}
/* style pour les boutons et input */
.danger-button {
  background-color: var(--color-error);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;


}

.danger-button:hover {
opacity: 0.9;
}
.no-style-button{
  background-color: transparent;
  border: none;
}

.input-form{
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  background-color: var(--color-background) ;
  color: var(--color-text);
  font-weight: 500;
  height: 40px;
  border: 2px var(--color-muted) solid;

}
.input-maj{

  border: none;
  font-size: 1rem;
  background-color: var(--color-background) ;
  color: var(--color-text);
  font-weight: 500;
  height: 40px;
  border-bottom: 2px var(--color-muted) solid;
 
}
.icon{
  width: 40px;
  height: 40px;
}
textarea {
  resize: none;
  font-family: var(--font-primary);
}

h2{
  color:var(--color-secondary)
}
.erreur {
  color: var(--color-error);
  font-size: 0.8rem;
  margin: 0 0 10px 0;
}
.low-opacity{
  opacity:0.5
}
.text-black-and-white{
  color: var(--color-text-BW);
}
.text-white-and-black{
  color: var(--color-text-WB);
}
